/* style.css */

a {
  color: #008eac;
}

a:hover {
  color: #008eac;
  text-shadow: 0 2px 10px rgba(0, 142, 172, 0.25);
}

h1 {
  text-align: center;
  color: #000;
  margin: 10px;
  padding: 10px;
  width: 50%;
  margin: auto;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.5);
}

h3 {
  text-decoration: none;
  text-align: center;
  color: #000;
  margin: 5px;
  padding: 5px;
  width: 50%;
  margin: auto;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.5);
}

h3:hover {
  text-decoration: none;
  text-align: center;
  color: blue;
  margin: 5px;
  padding: 5px;
  width: 50%;
  margin: auto;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(255, 255, 255, 1);
}

/* Basic body styling */

body {
  font-family: Verdana, sans-serif;
  background-color: #f5f5f5;
  margin: 20px;
  padding: 0;

  background-image: url("background.png");
  background-size: auto;
  background-repeat: repeat;
  background-position: center;
}

/* Masterlist container */
#masterlist {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

@keyframes cardAnimation {
  0% {box-shadow: 0 2px 10px rgba(255, 255, 255, 0.2);}
  50% {box-shadow: 0 2px 10px rgba(255, 255, 255, 0.8);}
  100% {box-shadow: 0 2px 10px rgba(255, 255, 255, 0.2);}
}

@keyframes cardAnimation {
  0% {padding: 15px;}
  100% {padding: 20px;}
}

/* Each card */
.card {
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  width: 250px;
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.2);
  transition: padding 1s;
}

.card:hover {
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 250px;
}

/* Card title */
.card h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
  text-align: center;
}

/* Images inside cards */
.card img {
  width: 100%;
  height: auto; /* Keeps aspect ratio */
  display: block;
  margin-bottom: 10px;
  border-radius: 4px;
}

/* Paragraphs inside cards */
.card p {
  font-size: 0.95em;
  margin: 5px 0;
}

/* Links inside card */
.card a {
  color: #0077cc;
  text-decoration: none;
}

.card a:hover {
  text-decoration: underline;
}
